* {
  box-sizing: border-box;
   font-family: "Roboto", sans-serif
}

.menu {
  float: left;
  width: 25%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
  font-size: xx-large;
}

.main {
  float: left;
  width: 25%;
  padding: 20px 20px;
}
.right {
  float: left;
  width: 25%;
  text-align: center;
}
.right a {
  background-color: #e5e5e5;
  font-size: xx-large;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}
.main1 {
  float: right;
  width: 25%;
  padding: 20px 20px;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right .main1 {
    width: 100%;
  }
}
#name {
  font-style: italic;
  box-sizing: border-box;
color: rgb(78, 33, 33);
  font-size: 100px;
  padding: 2px;
  margin-top: 2px;
  
}

