* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  height: 100%;
  background-color: rgba(240, 240, 233, 0.623);
}
.personal-info {
  display: inline-block;
  width: 40%;
  height: 750px;
  margin-top: 50px;
  margin-left: 25%;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: rgba(102, 102, 7, 0.782);
}
.image-box {
  float: left;
}
img {
  display: block;
  height: 100px;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 10%;
  margin-left: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.personal-info-container {
  position: relative;
  text-align: start;
  margin-left: 150px;
}
h1 {
  color: rgb(104, 104, 38);
  text-shadow: 1px 1px 1px rgb(233, 233, 222);
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 30px;
}
h5 {
  text-align: start;
  padding-right: 10px;
}

li {
  list-style: none;
  margin-left: 70px;
  font-size: 16px;
  padding: 5px;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: rgba(102, 102, 7, 0.782);
}
p {
  padding-top: 40px;
  font-size: 16px;
  color: rgb(28, 27, 12);
  margin: 20px;
}
.notiz-box,
h5 {
  color: black;
  font-size: 22px;
  background-color: initial;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  25% {
    color: rgb(161, 161, 3);
  }
  50% {
    color: rgb(100, 103, 15);
  }
  75% {
    color: rgb(56, 52, 8);
  }
  100% {
    color: rgb(200, 157, 2);
  }
}
span {
  font-size: 16px;
  color: rgba(102, 102, 7, 0.583);
}
.note-box {
  margin-left: 20px;
}

/*------------zweite section : "persona-info"-----------------------*/
h2 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
  color: rgb(104, 104, 38);
  text-shadow: 1px 1px 1px 1px rgb(233, 233, 222);
}
.antworten-box li {
  list-style: disc;
}
h4{
  padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgb(48, 30, 2);
}
/*----------footer------------*/
footer {
  text-align: right;
  margin-top: -35px;
  padding-right: 650px;
  padding-bottom: 50px;
}

footer p {
  color: rgb(35, 34, 23);
  font-size: 12px;
}
@media (min-width: 480px) and (max-width: 768px) {
  .personal-info {
    width: 50%;
   
  }
 
}
.note-box a{
  
  color: rgba(208, 109, 17, 0.986);
}
.arrow{
  font-size: 19px;
   animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  25% {
    color: rgb(3, 50, 161);
  }
  50% {
    color: rgb(103, 21, 15);
  }
  75% {
    color: rgb(220, 202, 8);
  }
  100% {
    color: rgb(2, 200, 25);
  }
}